name: Dependency Checker

on: [push,pull_request]


jobs:
  depchecktest:
    runs-on: ubuntu-latest
    name: depecheck_test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # - name: Build project with Maven
      #   run: mvn clean install
      - name: List files in the workspace
        run: |
          ls ${{ github.workspace }}
      - name: Depcheck
        uses: dependency-check/Dependency-Check_Action@main
        id: Depcheck
        with:
          project: 'test'
          path: '.'
          format: 'HTML'    
          args: >
            --enableExperimental 
            --scan Podfile.lock
      - name: Upload Test results
        uses: actions/upload-artifact@master
        with:
           name: Depcheck report
           path: ${{github.workspace}}/reports